@font-face {
    font-family: KaushanScript-Regular;
    src: url('../fonts/KaushanScript-Regular.ttf');
  }
  
  html{
    scroll-behavior: smooth;
  }
  
  body{
      background-color:	#DEB887;
  
  }
  
  header{
    position: fixed;
    width: 100%;
  }
  
  .menu{
    background-color: rgba(9, 7, 6, 0.3);
     padding: 2%;
     font-family: 'Permanent Marker', cursive;
  
  }
  
  
  .itens_Menu{
    padding-top: 1%;
    line-height: 1.5;
    text-align: center;
    font-size: 1.3em;
  }
  
  .itens_Menu a:visited, .itens_Menu a:link{
    color: #FFDEAD;
    text-decoration: none;
    font-weight: bolder;
  
  }
  
  .itens_Menu a:hover{
    background-color: rgba(9, 7, 6, 0.4);
    padding: 0.8%;
  }
  
  .itens_Menu a:active{
    color: black;
  }
  
  
  
  h1{
    font-size: 2em;
    font-family: 'Courgette',cursive;
  }
  
  p{
    color: #8B4513;  
    font-size: 1.5em;
    line-height: 1.5;
    text-align: justify;
    font-family: 'KaushanScript-Regular',cursive;  
    
  }
  
  h1,h2{
      color: #4F4F4F;
      text-align: center;
      margin-bottom: 2%;
  }
  
  figure{
      text-align: center;
  }
  .container{
      width:70%;
      margin: auto;
  }
  
  .logo{
    text-align: center;
  }
  
  .img_logo{
    width: 20%;
  }
  
  .img_topo{
      width: 100%;
  }
  
  .img_corpo{
      width: 60%;
      margin-top: 2%;
      margin-bottom: 2%;    
  }
  
  #mais a:link, #mais a:visited {
    color: #FFDEAD;
  }
  
  #mais a:hover{
    color: black ;
  }
  
  footer{
      background-color: rgba(9, 7, 6, 0.3);
      padding: 2%;
      margin-top: 2%;
  }
  
  footer p {
    text-align: center;
    font-size: 1em;
  }
  
  .botao{
   margin: 1%;
    width: 100px;
    height: 30px;
    padding: 2%;
    background-color: rgba(9, 7, 6, 0.3);
    margin: auto;
  }
  
  .botao:hover{
    background-color:#FFDEAD;
  }
  
  .botao a:link, .botao a:visited{
    color:#8B4513;
    text-decoration: none;
    font-weight: bolder;
  }
  
  .botao p{
    text-align: center;
  }
  
  section{
    margin-top: 2%;
    margin-bottom: 2%;
  }
  
  .direita{
    float: right;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 40%;
  }
  
  .esquerda{
    float: left;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 30%;
  }